.banner__title {
  h3 {
    color: #e1e3e7;
  }
}

.banner__preview {
  box-shadow: $shadows__coords-x $shadows__coords-y $shadows__size + 10
    fade-out(#000, 0.5%);
}

.banner__title {
  h3 {
    text-shadow: $shadows__coords-x $shadows__coords-y $shadows__size + 10
      fade-out($colors__black, 0.8%);
  }
}

.banner__buttoon-wrap {
  button {
    color: fade-out(#fff, 0.3%);

    &:hover,
    &:focus,
    &:active {
      color: #fff;
    }
  }
}

.banner__button {
  &.bookmark {
    color: $colors__yellow;

    &:hover,
    &:focus,
    &:active {
      color: fade-out($colors__yellow, 0.3%);
    }
  }
}
