.header {
  border-bottom: $border-width solid fade-out($colors__grays--lighter, 0.8%);

  &.fixed {
    background-color: fade-out($colors__body, 0%);
    border-bottom: $border-width solid fade-out($colors__grays--lighter, 1%);
    box-shadow: $shadows__coords-x $shadows__coords-y $shadows__size
      fade-out(#000, 0.9%);
  }

  &.fade {
    background-color: fade-out($colors__body, 0%);
    transform: translateY(-100%);
    border-bottom: $border-width solid fade-out($colors__grays--lighter, 1%);
  }

  &::after {
    background-color: $colors__green;
  }

  @keyframes moving__border {
    0% {
      transform: translateX(0);
      width: 0%;
      background-color: $colors__green;
    }
    20% {
      width: 30%;
    }

    50% {
      background-color: $colors__yellow;
    }

    100% {
      transform: translateX(100%);
      width: 100%;
      background-color: $colors__red;
    }
  }
}

.header__back {
  color: $colors__grays--lighter;

  &:hover {
    color: $colors__green;
  }
}

.header__title {
  color: $colors__grays--lighter;
}

.nav__link {
  color: $colors__grays--lighter;

  &:hover,
  &:focus,
  &:active {
    background-color: fade-out(#fff, 0.9%);
    color: $colors__green;
  }

  &.active {
    background-color: fade-out(#fff, 0.9%);
    color: $colors__green;
  }
}

.nav__link-user {
  color: $colors__grays--lighter;
}
