.modal__dialog {
  background: $colors__blackPrimary;
}

.modal__text {
  p {
    color: $colors__grays;
  }
}

.modal__button {
  button {
    background-color: fade-out($colors__green, 0.2%);
    &:hover,
    &:focus,
    &:active {
      color: $colors__white;
      background-color: fade-out($colors__green, 0%);
    }
  }
}

.modal__advice{
  a{
    color:$colors__link;

    &:hover,
    &:active{
      color: $colors__link--hover;
    }
  }
}
