.menu {
  background-color: $colors__blackGrays;
  box-shadow: $shadows__coords-x $shadows__coords-y $shadows__size
    fade-out(#000, 0.7%);
}

.menu__header {
  border-bottom: $border-width solid fade-out($colors__grays--lighter, 0.5%);
}

.menu__close {
  button {
    color: $colors__white;
    opacity: 0.5;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.menu__title {
  color: $colors__grays--lighter;
}

.menu__button {
  button {
    color: $colors__grays;

    span {
      color: fade-out($colors__grays, 0.5%);
    }

    &.like {
      span {
        color: fade-out($colors__green, 0.5%);
      }

      &:hover,
      &:focus {
        background-color: fade-out($colors__green, 0.9%);
        color: $colors__white;

        span {
          color: fade-out($colors__green, 0.4%);
        }
      }
    }

    &:hover,
    &:focus {
      background-color: fade-out($colors__grays, 0.9%);
      color: $colors__white;

      span {
        color: fade-out($colors__white, 0.4%);
      }
    }
  }
}
