.mobile {
  background: $colors__blackPrimary;
}

.mobile__links {
  li {
    opacity: 0.6;

    &:hover,
    &:focus {
      background-color: fade-out($colors__white, 0.9%);
      color: $colors__grays--lighter;
    }

    &:active {
      background-color: fade-out($colors__white, 0.8%);
    }

    &.active {
      opacity: 1;
    }
  }
}
