.modal {
  // background-color: fade-out(darken($colors__blackPrimary, 0.9%), 0.3%);
  animation: bg_fade 1s ease forwards;
}

@keyframes bg_fade {
  50% {
    background-color: fade-out(darken($colors__white, 0.3%), 1%);
  }

  100% {
    background-color: fade-out(darken($colors__white, 0.3%), 0.3%);
  }
}

.theme {
  background: $colors__body;

  h5 {
    color: $colors__grays--lighter;
  }
}
