.navbar {
  background: $colors__primary2;
}

.navbar__link {
  border-bottom: $border-width solid fade-out($colors__grays--lighter, 0.6%);
  li {
    color: $colors__grays;
    opacity: 0.6;

    &:hover,
    &:focus {
      background-color: fade-out($colors__white, 0.9%);
      color: $colors__grays--lighter;
    }

    &.active {
      opacity: 1;
    }
  }
}

.navbar__playlists {
  h5 {
    color: $colors__grays;
  }
}

.navbar__playlists-item {
  background: fade-out($colors__green, 0.5%);
  color: rgb(224, 224, 224);
  &:hover,
  &:focus {
    background: fade-out($colors__green, 0.2%);
    color: #fff;
  }
}
