.navbar {
  background: $colors__blackPrimary;
}

.navbar__link {
  border-bottom: $border-width solid fade-out($colors__grays--lighter, 0.6%);
  li {
    color: $colors__grays;

    &:hover,
    &:focus,
    &:active {
      background-color: fade-out($colors__white, 0.9%);
      color: $colors__grays--lighter;
    }

    &.active {
      color: $colors__white;
      background-color: fade-out($colors__grays--lighter, 0.87%);
    }
  }
}

.navbar__playlists {
  h5 {
    color: $colors__grays;
  }
}

.navbar__playlists-item {
  p {
    color: $colors__grays;
    span {
      background: fade-out($colors__green, 0.5%);
    }
  }

  &:hover,
  &:focus,
  &:active {
    p {
      color: $colors__grays--lighter;
    }

    span {
      background: fade-out($colors__green, 0.2%);
      color: $colors__grays--lighter;
    }
  }
}
