.profile__name {
  border-bottom: $border-width solid fade-out($colors__grays--lighter, 0.5%);

  h3 {
    color: $colors__grays--lighter;
  }
}

.profile__item {
  background-color: $colors__blackPrimary;
  box-shadow: $shadows__coords-x $shadows__coords-y $shadows__size
    fade-out($colors__black, 0.6%);

  h4 {
    color: $colors__grays--lighter;

    &.logout {
      color: $colors__red;
      margin-bottom: 0;
    }
  }

  p {
    color: $colors__grays;
  }

  &:hover,
  &:focus {
    background-color: lighten($colors__blackPrimary, 0.8%);
    box-shadow: $shadows__coords-x + 2 $shadows__coords-y + 2 $shadows__size + 2
      fade-out($colors__black, 0.3%);
  }
}

.profile__item-btn {
  color: $colors__grays--lighter;
}

.profile__menu {
  background-color: $colors__blackGrays;

  button {
    color: $colors__grays--lighter;
    &:hover,
    &:focus,
    &:active {
      color: $colors__white;

      span {
        color: fade-out($colors__white, 0.4%);
      }

      &:nth-child(2) {
        background-color: $colors__primary;
      }

      &:nth-child(3) {
        background-color: $colors__grays--lighter;
        color: $colors__blackGrays;
      }

      &.active {
        background-color: $colors__green;
      }
    }
  }
}
