.profile__name {
  border-bottom: $border-width solid fade-out($colors__grays--lighter, 0.5%);

  input {
    color: $colors__grays--lighter;

    &::-webkit-input-placeholder {
      color: $colors__grays--lighter;
    }

    &:focus {
      outline: none;
    }
  }
}

.profile__item {
  background-color: $colors__blackPrimary;
  box-shadow: $shadows__coords-x $shadows__coords-y $shadows__size
    fade-out(#000, 0.9%);

  h4 {
    color: $colors__grays--lighter;
  }

  p {
    color: $colors__grays;
  }

  &.logout {
    h4 {
      color: $colors__red;
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      background-color: fade-out($colors__red, 0.8%);
    }
  }

  &:hover,
  &:focus {
    background-color: lighten($colors__blackPrimary, 0.8%);
    box-shadow: $shadows__coords-x $shadows__coords-y $shadows__size + 2
      fade-out(#000, 0.9%);
  }
}

.profile__item-btn {
  color: $colors__grays--lighter;
}

.profile__menu {
  background-color: $colors__blackGrays;

  button {
    color: $colors__grays--lighter;
    &:hover,
    &:focus,
    &:active {
      color: $colors__white;

      span {
        color: fade-out($colors__white, 0.4%);
      }

      &:nth-child(2) {
        background-color: $colors__primary;
      }

      &:nth-child(3) {
        background-color: $colors__grays--lighter;
        color: $colors__blackGrays;
      }

      &.active {
        background-color: $colors__green;
      }
    }
  }
}
