.app__search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: $gradient__green;
  background-size: 200%;
  padding: 10px;
  color: #e1e3e7;
  overflow: hidden;
  box-shadow: $shadows__coords-x - 1 $shadows__coords-y - 3 $shadows__size
    fade-out(#000, 0.8%);
  animation: search__bg 10s ease infinite alternate;
  transition: $transition-duration $transition-timing-function;

  svg {
    width: 40px;
  }

  &.active {
    background: darken($colors__green, 10%);
  }

  &.fade {
    transform: translateY(300%);
  }

  @media (min-width: $breackpoints__md) {
    display: none;
    visibility: hidden;
  }
}

@keyframes search__bg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
