.app__search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $colors__body;
  padding: 12px;
  color: $colors__green;
  overflow: hidden;
  box-shadow: $shadows__coords-x - 2 $shadows__coords-y - 2 $shadows__size + 5
    fade-out($colors__white, 0.8%);
  transition: $transition-duration $transition-timing-function;

  svg {
    width: 40px;
  }

  &.fade {
    transform: translateY(300%);
  }

  @media (min-width: $breackpoints__md) {
    display: none;
    visibility: hidden;
  }
}
