@import 'typografi.scss';
@import '../mixines/size.scss';
// Project variables
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// Paths
$images__path--root: 'assets/images/';

// Sizes and rounding
//////////////////////////////////////////////////////

$gutter: 20px;

$border-width: 1px;

$border-radius__big: 20px;
$border-radius__large: 12px;
$border-radius__small: 7px;

$controls__height: 70px;

// Elements
//////////////////////////////////////////////////////

// Buttons

$buttons__border-radius: $border-radius__small;

$buttons__height: $controls__height;

// Inputs

$inputs__height: $controls__height;

// Views
//////////////////////////////////////////////////////

$loader__size--default: 100px;

$padding__views: 100px;
$navbar__width: 100px;

$header__height: 70px;

// Layouts
//////////////////////////////////////////////////////

$layouts__modal: 1000px;
$layouts__fixed: 2000;
$layouts__popups: 1500;
$layouts__content: 1000;

// Effects
//////////////////////////////////////////////////////

$fade: 0.2;
$fade--percent: 8%;
$shadows__coords-x: 2px;
$shadows__coords-y: 4px;
$shadows__size: 12px;
$shadows__stretch: 0;

$transition-duration: 0.2s;
$transition-timing-function: ease-in-out;
$transition-delay: 0s;

$animation-duration: $transition-duration * 3;

// Colors
//////////////////////////////////////////////////////

// $gradient__primary: linear-gradient(
//   180deg,
//   rgb(39, 37, 70) 0%,
//   rgb(54, 62, 124) 35%,
//   rgba(48, 22, 61, 1) 71%,
//   rgb(44, 22, 98) 100%
// );

// $gradient__green: linear-gradient(
//   90deg,
//   rgb(12, 149, 78) 0%,
//   rgb(37, 189, 128) 80%
// );

// $gradient__purpule: radial-gradient(
//   circle,
//   rgba(139, 15, 206, 0.5) 0%,
//   rgba(255, 0, 235, 0.5) 100%
// );

// $gradient__yellow: radial-gradient(
//   circle,
//   rgba(205, 167, 29, 0.3) 0%,
//   rgba(217, 126, 17, 0.3) 100%
// );

// $gradient__blue: radial-gradient(
//   circle,
//   rgb(205, 152, 29) 0%,
//   rgb(217, 24, 17) 100%
// );

// // Palette
// $colors__body: #181818;

// $colors__white: #fff;
// $colors__black: #000;

// $colors__primary: #365fb1;
// $colors__primary2: #0081ff;
// $colors__blackPrimary: #252525;

// $colors__second: #d930aa;

// // Grays
// $colors__grays--lighter: #e1e3e7;
// $colors__grays: #99a9be;
// $colors__blackGrays: #2e2e2e;

// // Green
// $colors__green: #3cd87a;

// // Yellow
// $colors__yellow: #faed78;

// // Red
// $colors__red: #e72f2f;

// // Links
// $colors__link: $colors__primary;
// $colors__link--hover: darken(#44529c, $fade);

// // Borders and shadows

// $colors__shadows: $colors__black;

// $colors__border: $colors__grays--lighter;
// $colors__placeholder: $colors__border;

// Breackpoints and containers
//////////////////////////////////////////////////////

// Minimum Supported Width
$breackpoints__min: 320px;

// Extra small screen / XS / phone
$breackpoints__xs: 576px;

// Small screen / SM / tablet
$breackpoints__sm: 768px;

// Medium screen / MD desktop / нетбуки типо чтоле
$breackpoints__md: 992px;

// Large screen / LG desktop / небольшие экраны - ноуты
$breackpoints__lg: 1200px;

$breackpoints__xs_max: ($breackpoints__sm - 1);
$breackpoints__sm_max: ($breackpoints__md - 1);
$breackpoints__md_max: ($breackpoints__lg - 1);
