.fade-enter-active {
  transition: all 0.1s linear;
}
.fade-leave-active {
  opacity: 0;
  transition: all 0.1s linear;
}
.fade-enter, .fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  opacity: 1;
  transition: all 0.1s linear;
}
