.slide-fade-enter-active {
  transition: all 0.1s linear;
}
.slide-fade-leave-active {
  transform: translateY(100vh);
  transition: all 0.1s linear;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translatey(100vh);
  transition: all 0.1s linear;
}
